version: "3.9"

services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: resonate
      POSTGRES_PASSWORD: resonate
      POSTGRES_DB: resonate
    ports:
      - "5432:5432"
    volumes:
      - resonate_pg:/var/lib/postgresql/data

volumes:
  resonate_pg:
