[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.23"

# Optimizer settings to reduce contract size (EntryPoint is ~25KB)
optimizer = true
optimizer_runs = 1000000

[rpc_endpoints]
local = "http://localhost:8545"
sepolia = "${SEPOLIA_RPC_URL}"

[etherscan]
sepolia = { key = "${ETHERSCAN_API_KEY}" }
